**/appsettings.Development.json
bin/
obj/
packages/
*.nupkg

*.env
**/config/*.env
appsettings.Development.json
appsettings.Local.json

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.iml
_ReSharper.Caches/

wwwroot/dist/
wwwroot/lib/

*.log

.DS_Store
Thumbs.db

*.db
*.db-shm
*.db-wal

.env.local
docker-compose.override.yml

.idea/
BlazorApp1/CHANGES_LOG.md
BlazorApp1/TODO.txt
ReviewAnythingAPI/Issues