<div class="container">
    <div class="profile-header">
        <div class="skeleton skeleton-profile-image"></div>

        <div class="profile-info">
            <div class="skeleton skeleton-name"></div>
            <div class="skeleton skeleton-username"></div>
            <div class="skeleton skeleton-member-date"></div>
            <div class="skeleton skeleton-bio"></div>
        </div>
    </div>

    @* <div class="social-sections">
        <div class="followers-section">
            <div class="skeleton skeleton-section-header"></div>
        </div>

        <div class="following-section">
            <div class="skeleton skeleton-section-header"></div>
        </div>
    </div> *@
</div>