<div class="modal">
        <h3 class="modal-header">Want to join the community?</h3>
        <h5 class="modal-content">Join with your account to continue</h5>
        <a class="modal-link" href="/login">Sign in</a>
    </div>